@import "../../colors.scss";
@import "../../animations.scss";

.titleSection {
  .mainTitle {
    position: relative;
    color: $ambientpurple;
    letter-spacing: -15px;
    transform: translateX(2rem);
    margin: 0.5rem 0;

    &:after {
      position: absolute;
      bottom: -20px;
      left: 0;
      content: "";
      height: 12px;
      width: 250px;
      border-radius: 4px;
      background-color: $hotfox;
      box-shadow: 4px 2px 0px rgba($hotfox, 0.2);
    }
  }

  .showUp {
    width: 100%;
    color: $ambientpurple;
    font-size: 4.2rem;
    line-height: 1.2;
    transform: translateX(-2.5rem);
  }

  h1 {
    font-size: 144px;
    line-height: 0.92;

    @media screen and (max-width: 620px) {
      font-size: 12rem;
      transform: translateX(-4.5rem);
    }

    @media screen and (max-width: 400px) {
      font-size: 10rem;
      transform: translateX(-4.5rem);
    }
  }

  h4 {
    font-size: 2.2rem;
  }
}
