.eventDetails {
  margin: 0;
  padding: 0;

  h5 {
    padding: 0;
    margin: 3rem 0 0 0;
  }
  h4 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.2rem;
    margin-top: 0.2rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    li {
      color: rgba(0, 0, 0, 0.8);
      line-height: 1.5rem;
    }

    h5 {
      font-size: 1.2rem;
      margin: 1.5rem 0;
    }
  }
}
