@import "../../colors.scss";

@import "../../colors";
@import "../../animations.scss";

.headercontent {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 2rem 0.5rem 1rem 0.5rem;
  border-radius: 4px;
  color: white;
  position: relative;
  animation: purplePinkBorderBox 8s infinite;
}
